{
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": "current" }
        }]
      ],
      "sourceMaps": true,
      "retainLines": true
    }
  },
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "last 2 Firefox versions",
          "last 2 Edge versions",
          "last 2 Safari versions",
          "IE 11"]
      },
      "modules": false
    }],
    "@babel/preset-react"
  ]
}
