.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  padding: 0 16px;
}

.header {
  font-size: 2.4em;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 24px 0;
}
