:global {
  * {
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    font-size: 16px;
    margin: 0;
    color: #4a4a4a;
    min-width: 800px;
    font-family: sans-serif;
  }

  textarea {
    font-family: sans-serif;
    color: #4a4a4a;
    padding: 8px;
    border-style: solid;
  }

  select {
    border-style: solid;
  }

  #root {
    height: 100%;
  }
}
